.cards {
  padding-top: 20px;
  padding-bottom: 40px; /* fixed as i did last summition was 40*/
  border-bottom: 1px solid #21212166;
}

.cards__list {
  list-style-type: none;
  gap: 40px 20px; /* Adjusted gap for mobile screens */
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  justify-content: center; /* Center the cards */
}
@media screen and (max-width: 1280px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr); /* Two columns for tablets */
  }
}
@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(
      auto-fill,
      minmax(288px, 1fr)
    ); /* One column for small screens */
    gap: 20px 10px; /* Adjusted gap for mobile screens */
  }
}
